{% extends 'main/base.html' %}

{% block title%}
О программе
{% endblock %}

{% block content%}
    <h1>О программе</h1>
    <p>Программа позволяет пользователю регистрироваться для составления его учётной записи.</p>
    <p>Программа позволяет пользователю авторизироваться для того, что-бы получать расшириный функционал сайта.</p>
    <p>Программа позволяет пользователю выполнять генерацию текста с учётом индивидуальных особенностей авторского стиля.</p>
    <p>Программа позволяет пользователю выходить из своей учётной записи.</p>
{% endblock %}

